<% if @feed && @feed.title.present? %>
<h2>
  <%= @feed.title %>
</h2>
<p>
  <% if current_user.feeds.include? @feed %>
  <%= link_to 'Unsubscribe', unsubscribe_feed_path(@feed), class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>
  <% else %>
  <%= link_to 'Subscribe', subscribe_feed_path(@feed), class: 'btn btn-info', method: :post %>
  <% end %>
</p>
<% else %>
<h2>
  Timeline
</h2>
<% end %>

<% if entries.present? %>
<ul class="list-group">
  <% entries.each do |entry| %>
  <li class="list-group-item">
    <%= time_ago_in_words entry.published %> - 
    <%= link_to entry.title, [entry.feed, entry] %><br />
  </li>
  <% end %>
</ul>
<% else %>
<p>No entries</p>
<% end %>
