<p id="notice"><%= notice %></p>

<h1>Subscriptions</h1>

<ul class="list-group">
  <% @feeds.each do |feed| %>
  <li class="list-group-item">
    <%= link_to 'Unsubscribe', unsubscribe_feed_path(feed), class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure?"} %>
    <%= link_to feed.title, feed %>
  </li>
  <% end %>
</ul>

<ul>
</ul>

<div class="row">
  <div class="col-md-3">
    <%= render partial: "feeds/feed_list",
	locals: {feeds: Feed.all.limit(5)} %>
  </div>
  <div class="col-md-9">
    <%= render partial: "feeds/feed_entry_list",
	locals: {entries: @entries} %>
  </div>
</div>
