<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <%= render partial: "feeds/feed_list",
	locals: {feeds: Feed.all, cur_feed: @feed.id} %>
  </div>
  <div class="col-md-9">
    <%= render partial: "feeds/feed_entry_list",
	locals: {entries: @entries} %>
  </div>
</div>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
